.new-shop {
padding: 16px;
}

.new-grid {
display: grid;
grid-template-columns: 1fr;
gap: 14px;
margin-top: 20px;
}

.new-card {
background: #1e1e1e;
border-radius: 16px;
padding: 20px;
text-align: center;
font-size: 16px;
font-weight: 600;
cursor: pointer;
transition: 0.2s;
}

.new-card:hover {
background: #2a2a2a;
}
.product-grid{
display:grid;
grid-template-columns:1fr;
gap:16px;
margin-top:20px;
}

.product-item{
background:#1e1e1e;
border-radius:16px;
padding:16px;
}

.product-title{
font-size:16px;
font-weight:600;
margin-bottom:10px;
}

.product-bottom{
display:flex;
justify-content:space-between;
align-items:center;
}

.product-price{
font-weight:700;
color:#ff4d6d;
}

.product-buy{
background:#ff4d6d;
border:none;
color:white;
padding:8px 14px;
border-radius:10px;
cursor:pointer;
font-weight:600;
}
.product-view{
margin-top:20px;
background:#1e1e1e;
border-radius:18px;
padding:20px;
text-align:center;
}

.product-image img{
width:100%;
border-radius:14px;
margin-bottom:15px;
}

.product-view-title{
font-size:18px;
margin-bottom:10px;
}

.product-view-price{
font-size:20px;
font-weight:700;
color:#ff4d6d;
margin-bottom:20px;
}

.product-more{
width:100%;
padding:12px;
margin-bottom:10px;
border-radius:12px;
border:1px solid #444;
background:none;
color:white;
}

.product-add{
width:100%;
padding:14px;
border-radius:14px;
border:none;
background:#ff4d6d;
color:white;
font-weight:700;
}
